*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/obj/
/vendor/
/Gopkg.lock
*.out
*.cover
*.idea/
*.vscode/
*.sublime-workspace
*.sublime-project
*.iml
*~ 
*.bak
.DS_Store
Thumbs.db
ehthumbs.db
*.log
tmp/
temp/
/public/images/product_images/